.buttons {
    background-color: rgb(74, 207, 216);
    height: 15px;
    width: 70px;
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: rgb(4, 145, 148);

}
.buttons:hover {
    background-color: blue;
}
a {
    color: white;
}
a:hover {
    color: cyan;

}